/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

/* ************************************************************************* */

.main {
    display: flex;
    height: 75%;
}
.alpha-container {
    height: 5%;
    background-color: lightgrey;
    padding-bottom: .5em;
    padding-top: .5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    font-size: 20px;
    font-style: none;
    justify-content: space-around;
    
}

.column {
    flex: 50%;
    border: 1px solid black;
    padding: 10px;
    
}

.left.column {
    flex: 20%;
    margin-left: 1em;
    padding: 15px;
    overflow: auto;
    
}
.column .h2 {
    font-size: 22px;
}

.left {
    
}

.right {
    margin-right: 1em;
    padding: 10px;
}

.left div{
    display: flex;
    flex-wrap: wrap;
}

ul {
}

.left li {
    list-style-type: none;
    font-size: 16px;
    margin: 10px;   
}

.right div {
    font-size: 16px;
    margin: 10px;  
}